<div class="home-page row">

  <form id="home-form" class="home-form col-sm-6 container-fluid my-auto py-0">

    <div class="form-group">
      <label for="amount">LIST AMOUNT</label>
      <select class="form-control form-select" id="amount">
        <option>One</option>
        <option>Two</option>
        <option>Three</option>
        <option>Four</option>
        <option>Five</option>
      </select>
    </div>

    <div class="form-group">
      <label for="type">POPULAR OR OBSCURE?</label>
      <select class="form-control form-select" id="type">
        <option>Popular</option>
        <option>Obscure</option>
      </select>
    </div>

    <div class="form-group">
      <label for="genre">GENRE</label>
      <select class="form-control form-select" id="genre">
        <option>Crime</option>
        <option>Drama</option>
        <option>Romance</option>
        <option>Horror</option>
        <option>Comedy</option>
        <option>Science-Fiction</option>
        <option>Western</option>
        <option>Fantasy</option>
        <option>Documentary</option>
      </select>

    </div>

    <div class="form-group">
      <label for="era">ERA</label>
      <select class="form-control form-select" id="era">
        <option>2000</option>
        <option>1990</option>
        <option>1980</option>
        <option>1970</option>
        <option>1960</option>
      </select>

    </div>

    <button type="submit" class="btn suggestButton mb-0">Suggest Movie</button>

  </form>

  <div class="col" style="margin-top: 250px;">
    <ul id="suggestions" style="list-style: none;"></ul>
    <div id="loader"></div>
  </div>

</div>

  <span style="opacity: 0;" id="user_id">{{id}}</span>

<script src="/javascript/homepage.js"></script>