* {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

/* CONTAINERS AND ROWS GUIDELINES */
.row {
    border: 1px solid red;
    min-height: 100vh;
}

.row * {
    border: 0.5px dashed blue;
}

/* SIDEBAR AND NAV */
html {
    font-family: Arial;
    font-size: 16px;
    background: white;
}

.sidebar {
    position: fixed;
    width: 25%;
    font-size: 20px;
}

.sidebar-container {
    background: lightblue;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    position: relative;
    margin: 3.2em 0;
}

.nav ul li a {
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: white;
    display: block;
    transition: all ease-out 300ms;
}

.nav ul li.active a {
    color: white;
}

.nav ul li:not(.active)::after {
    opacity: 0.2;
}

.nav ul li:not(.active):hover a {
    color: blue;
}

.nav ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: blue;
    left: 0;
    bottom: 0;
    background-image: blue;
}

